<h2> List of Songs:</h2>
<!-- <p id="total-count"><%= @artist.songs.length %> songs -->
<div class="list-of-songs">
  <ul class="song-list" data-id="<%= @artist.id %>">
    <% @artist.songs.each do |song| %>
    <li class="<%= song.id %> song-delete" data-id="<%= song.id %>">
      <p><%= song.name %></p>
      <p id="<%="#{song.id}"%>" class="btn btn-sm button-artist delete-song">Delete Song</p>
    </li>
    <% end %>
  </ul>
</div>
<% if @artist.songs.length > 0 %>
<%= link_to "Delete all songs", artist_path(@artist.id), class: "btn btn-danger delete-all-songs" %>
<% end %>
