<div class="row">
  <div class="col-xs-6">
    <div class="artist-details">

    <h1> <%= @artist.name %> </h1>

    <p>Bio: <%= @artist.bio %></p>

        <h2> List of Songs: </h2>

        <% @artist.songs.each do |song| %>

        <p><%= link_to song.name, artist_song_path(song.artist, song)  %></p>
        <audio controls>
        	<source src="<%= song.url %>" type="audio/mpeg" />
        	<a href="<%= song.url %>"><%= song.name %></a>
        </audio>
        <br>
        <%= link_to 'Edit', edit_artist_song_path(song.artist, song), class: "btn btn-primary" %>
        <%= link_to 'Delete', [song.artist, song], data: {confirm: "Are you sure you want to delete this song?" }, :method => :delete, class: "btn btn-primary"  %>
        <hr/>

      <% end %>
    </div>

  </div>

  <div class="col-xs-6">
    <div class="artist-image">
      <% @artist.photos.each do |photo| %>
          <%= image_tag photo.image.thumbnail %>
      <% end %>
    </div>
  </div>
</div>

<%= link_to "Add song", new_artist_song_path(@artist), class: "btn btn-success" %>
<%= link_to "Edit artist", edit_artist_path, class: "btn btn-success" %>
<%= link_to "Delete artist", artist_path(@artist.id), method: :delete, data: {confirm: "NOTE: Deleting an artist will delete all associated songs. \nDo you wish to continue?" }, class: "btn btn-danger" %>
<br/>
<br />
<%= link_to "All artists", artists_path, class: "btn btn-primary" %>
