<h1><%= @song.name %></h1>

<p>Lyrics: <%= @song.lyrics %></p>
<p>URL: <%= @song.url %></p>
<hr>
<%= link_to "[Edit]", edit_song_path(@song.id) %>
<%= link_to "[Delete]", song_path(@song.id), method: :delete, data: { confirm: "Are you sure?" } %>

<hr>
<%= link_to "[All Songs]", root_path %>
